



<h2>disnumber</h2>


<div class="output_field">

<% if @search_type == 'digits' %>
  <h5 id="digits_text"><%= @digits %></h5>
  <button id="copy_digits" type="button" name="button">Copy number to clipboard</button>
  <h5 id="phrase_text"><%= @phrase %></h5>
  <button id="copy_phrase" type="button" name="button">Copy phrase to clipboard</button>
<% end %>

<% if @search_type == 'phrase' %>
  <h5 id="phrase_text"><%= @phrase %></h5>
  <button id="copy_phrase" type="button" name="button">Copy phrase to clipboard</button>
  <a href="tel:<%= @digits %>"><h5  id="digits_text"><%= @digits %></h5></a>
  <button id="copy_digits" type="button" name="button">Copy number to clipboard</button>
<% end %>

<form action="/request" method="get">
  <input type="hidden" name="pair_id" value="<%= Pair.find_by(digits: @digits).id %>">
  <button>Flag this phrase</button>
</form>

</div>

<br>

<div class="input_field">

<h5>enter another number or phrase to look up:</h5>

<form action="/result" method="get">
  <label id="input_alert" for="user_input" style="visibility: hidden"></label>
  <input id="user_input" type="text" name="user_input" value="">
  <button id="find_btn">FIND</button>
</form>
